.container
  display: flex
  flex-direction: row
  align-items: flex-start
  justify-content: flex-start
  height: 100vh
    
.card
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,100,121,1) 35%, rgba(0,212,255,1) 100%)
  display: flex
  justify-content: space-between
    
.card-img
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 10px 0 10px 10px
  

.card-image
  width: 150px
  height: 150px
  border-radius: 50%


.card-content
  display: flex
  padding-left: 15px