html, body, #root
  height: 100%

.toolbar
  display: flex
  align-items: center
  justify-content: space-between
  box-shadow: none
  border-top: 1px #A0A0A0 solid
  border-bottom: 1px #A0A0A0 solid
  padding: 0px !important

.home-window
    background-color: #f2f2f2
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 2%
    height: 100%

.home
  width: 70%
  background-color: white
  padding: 20px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

    
.conf-img
    display: flex
    width: 100%
    height: 40%


.home-img
    width: 100%

.title
    width: 96%
    font-weight: bold
    color: rgb(31,75,107)
    font-size: 40px
    text-align: center
    padding-top: 1%
    padding-bottom: 5%

.hidingStuff
  box-shadow: none !important

.topbar
  text-transform: capitalize !important